*.class
*.log

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

**/node_modules/

# IntelliJ project files
.idea
*.iml
out
gen

# VSCODE

.vscode

.settings
.classpath
.project


server/target

*env
.env.*
