MASTER_IP=10.10.10.10 (this shold be a local ip)
API_DOMAIN=bip.bop.example.coffe

# is on subnet 10.0.0.0/8
POSTGRES_IP="10.20.30.40"

POSTGRES_PASSWORD="mysecretpassword"
POSGRESS_USERNAME="postgres"
POSGRESS_DB_NAME="postgres"

MAIL_PASSWORD=somepass
MAIL_USERNAME=somMail@somwhere.somthing
