MASTER_IP=10.10.10.10

API_DOMAIN=fractal.traeen.dev
NODE_URL="fractal.traeen.dev/api"

JWT_SECRET=texasholdempoker
API_PORT=8080

# is on subnet 10.0.0.0/8
POSTGRES_IP="10.10.50.50"
WEBSERVER_IP="10.10.50.60"

POSTGRES_MASTER_PASSWORD="mysecretpassword"

POSTGRES_USER_USERNAME=""
POSTGRES_USER_DB=""
POSTGRES_USER_PASSWORD=""
POSTGRES_PORT=5432

MAIL_PASSWORD=somepass
MAIL_USERNAME=somMail@somwhere.somthing